@page "/CsharpQuestions"
@{
    Layout="_Stackoverflowlayout";
}
@model IndexModel
@{
    ViewData["Title"] = "StackOverFlow Home page";
}

<div class="text-center">
    <h1 class="display-4">C# Questions</h1>
</div>
