@page "/CsharpQuestions"
@{
    Layout="_Stackoverflowlayout";
}
@model IndexModel2
@{
    ViewData["Title"] = "StackOverFlow Home page";
}

<div class="text-center">
    <h1 class="display-4"><strong>C# QUESTIONS</strong></h1>
</div>

 