@page
@{
    Layout="_Stackoverflowlayout";
}
@model IndexModel
@{
    ViewData["Title"] = "StackOverFlow Home Page";
}

<div class="text-center">
    <h1 class="display-4">Stack OverFlow</h1>
</div>
